

.box{
    
    color: #eee;
    margin: auto;
    margin-top: 20rem;
    text-align: center;
    line-height: 4rem;
    p{

font-size: 1.5rem;
word-spacing: 0.4rem;
    }
    h1{
white-space: nowrap;
word-spacing: 1rem;
font-size: 4rem;

    }
    span{
        color: red;
    }
    .line{
        margin-top:0.7rem ;
        border-bottom: 2px solid white;
    }
   
}
footer{
    position: relative;
    display: flex;
    justify-content: space-between ;
    position: fixed;
    bottom: 0;


    div{
        margin-left: 1rem;
        .fa-brands{
            color: white;
            font-size: 2rem;
            margin-right: 1rem;
            transition: all 1s ease-in-out;
            &:hover{
                color: red;
            }
        }
    }
    h2{
       
        color: white;
        position: fixed;
        right: 1rem;
        
        
    }
}