.myBack {
    background-image: url("./assets/nba-logo.png");
  }
  
  /* .card {
    width: 15rem;
    height: 25rem;
  } */
  
  .card img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    transition: all 1s ease-in ;
    &:hover{
      scale: 1.1;
      border-radius: 2rem;
      
    }
  }
  
  .card .card-body {
    height: 10%;
    width: 100%;
   
      white-space: nowrap;
  }
  .card .infoDiv{
      margin-top: 10rem;
     
      width: 100%;
    height: 90%;
    
  }
  
  